@import url("https://use.typekit.net/ezr0eqs.css"); /* Acumin Pro and Kestral Script */

/* CSS document */

/* 
Colors ordered darkest to lightest 

Black: #262626 #585a5a #d8d9dc
Red: #c02726 #bf4c4d #be8586
Blue: #3360a6 #657ca5 #7c8ba4
Yellow: #afbf40 #9ba268 #999d76
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #d8d9dc;
  padding: 1em;
  color: #262626;
  font-family: "Acumin Pro", sans-serif;
  font-weight: 300;
  line-height: 1.3em;
  padding: 3em;
}

/* body.dark {
  background-color: #262626;
} */

/* Header (except for main page) */
header div.logo  {
  width: 100%;
}

header nav ul {
  padding: 0em 1em 2em 0em;
}

header nav ul li {
  padding: 0em 1em 0em 0em;
}

/* General  */
div.container {
  max-width: 50em;
  margin: auto;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  border-radius: 15px;
}

/* Type */
h1 {
  font-size: 3em;
  padding: 1em 0;
  font-weight: 850;
}

h2 {
  text-transform: uppercase;
  font-size: 1.7em;
  line-height: 1.3em;
  color: #d8d9dc;
  padding: 0.6em 0em 0.3em 1em;
  font-weight: 600;
  background-color: #c02726;
  border: 0.5px solid;
  border-radius: 15px;
  border-color: #c02726;
}

h3 {
  font-size: 1.5em;
  padding: 1rem 0;
  font-weight: 800;
}

h4 {
  font-size: 1em;
  padding: 1em 0em 0em 0em;
  font-weight: 800;
}

p {
  line-height: 1.3em;
  padding: 0em 0em 1em 0em;
}

strong {
 font-weight: 600; 
}

footer {
  font-size: 0.8em;
  padding: 4em 0em 0.3em 0em;
}

/* Nav links */
a {
  color: #262626;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 0em 1em 0em 0em;
}

nav ul li a:hover {
  border-bottom: solid 2px;
  font-weight: 750;
  color: #c02726;
}

/* Buttons and boxes */
button.standard-button {
  background-color: #c02726;
  color: #d8d9dc;
  font-weight: 600;
  padding: 0.9em 1em 0.8em 1em;
  border: 3px solid;
  border-color: #c02726;
  border-radius: 15px;
  cursor: pointer;
  /* box-sizing: border-box; */
}

div.outline {
  border: 2px solid;
  border-color: #262626;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 1.5em 1em 0.5em 1em;
}

div.background {
  border: 2px solid;
  border-color: #3360a6;
  border-radius: 15px;
  background-color: #3360a6;
  color: #d8d9dc;
  padding: 1.5em 1em 0.5em 1em;
}

div.background h3, div.background h4 { 
  padding-top: 0.5em;
}

/* Theme toggle */
div.theme-toggle a {
  color: #d8d9dc;
  position: fixed;
  font-size: 1.8em;
  background-color: #c02726;
  border: 0.1rem solid;
  border-radius: 50%;
  border-color: #c02726;
  height: 1em;
  width: 1em;
  padding: 0.5em;
  margin-left: 0.5em;
  text-align: center;
  top: 1.2em;
  right: 50px;
  cursor: pointer;
  box-shadow: 2px 3px 10px 0 rgb(10, 10, 10);
}

/* Main landing page */
div.landing {
  padding-bottom: 30vh;
}

div.landing div.logo  {
  padding: 8em 0em 0em 0em;
}

div.landing nav ul {
  padding: 1em 0em 1em 0em;
  font-weight: 500;
}

div.landing nav ul li {
  padding: 0em 1em 1em 0em;
  font-size: 1.2em;
}

ul.hours {
  list-style-type: none;
  padding: 2em 0;
}

section.welcome {
  margin: 0em 0em 3em 0em;
  padding: 4em 0em 4em 0em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #262626;
}

section.mission span.focus {
  font-size: 6em;
  padding-bottom: 1rem;
}

ul.contact-info {
  list-style-type: none;
}

section.landing-image {
  padding-bottom: 1.5em;
}

section.slogan {  
  padding-bottom: 2em;
}

section.slogan div.outline {
  padding: 3em 2.5em 1em 2em;
  background-color: #d8d8d8;
  border-radius: 15px;
}

section.mission div.outline {
  padding: 2em 4em 2em 1em;
}

/* About */
section.top-image {
  padding-bottom: 1em;
}

div.about img {
  margin-top: 1em;
}

/* Menu */
div.menu ul {
  list-style-type: none;
}

div.menu div.outline {
  margin: 2em auto;
}

div.menu h2 {
  margin-bottom: 1em;
}

section.nutrition div.outline {
  display: flex;
  flex-wrap: wrap;
}

section.nutrition ul.left {
  flex: 1 0 40%
}

section.nutrition ul.right {
  flex: 1 0 60%;
}

section.nutrition span {
  color: #3360a6;
  font-size: 1.2em;
  width: 18px;
  padding-right: 0.5em;
}

section.nutrition ul li p {
  display: inline-block;
}

section.nutrition span.fa-cheese, section.nutrition svg {
  padding-left: 0.2em;
}

div.menu svg {
  /* padding-top: 0.5em; */
  /* display: inline-block; */
  vertical-align: bottom;
}

div.special div.outline {
  display: flex;
  flex-wrap: wrap;
}

div.special aside {
  font-size: 7em;
  flex: 1 0 30%;
  padding: 1rem 0em 1rem 0em;
}

div.special article {
  flex: 1 0 70%;
}

section.allergens div.background {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

section.allergens aside {
  font-size: 4em;
  flex: 1 0 20%;
  padding: 0.15em 0em 1rem 0em; 
}

section.allergens article {
  flex: 1 0 80%;
}

div.menu div.outline h3 span {
  font-size: 0.7em;
  color: #3360a6;
}

/* Contact page (info part) */
div.contact ul.contact-info {
  padding-bottom: 2em;
  border-bottom: 1px solid;
  border-color: #262626;
}

ul.contact-info li {
  padding: 0.2em 0;
}

ul.contact-info li span {
  width: 14px;
}

ul.contact-info li p {
  display: inline;
  padding: 0em 0em 0em 0.3em;
}

/* Contact page (form part) */
section.contact-form {
  padding: 1.5em 0em 0em 0em;
}

div.contact ul {
  list-style-type: none;
}

section.contact-form ul li {
  margin-bottom: 1em;
}

section.contact-form input, section.contact-form select,  section.contact-form textarea, section.send button {
  width: 100%;
  padding: 1.5em 0em 1.3em 0em;
  border: 2px solid;
  border-color: #262626;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #d8d9dc;
  padding-left: 1em;
}

section.contact-form input, section.contact-form textarea, section.contact-form input::placeholder, section.contact-form select, section.contact-form textarea::placeholder, section.send button {
  color: #262626;
  font-family: "Acumin Pro", sans-serif;
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.3em;
}

section.contact-form textarea {
  padding-bottom: 8em;
}

section.send button {
  border-color: #c02726;
  background-color: #c02726;
  color: #d8d9dc;
  font-weight: 600;
  padding: 0.7em 0em 0.5em 0em;
  cursor: pointer;
}

/* Desktop screens */
@media only screen and (min-width: 50em) {
  div.container {
    margin: auto;
    /* display: grid;
     grid-template-columns: 2fr 1fr;
    grid-gap: 0 1em; */
  }

  header {
    width: 60%;
  }

  /* Main landing page desktop */
  div.landing div.logo  {
    width: 70%;
    padding: 8em 0em 0em 0em;
  }  

  div.landing nav ul {
    padding: 1em 0em 1em 0em;
  }

  div.landing nav ul li {
    padding: 0em 1em 1em 0em;
  }  

  div.landing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2em;
  }

  section.slogan {
    grid-column: 1/2;
    background-color: #d8d8d8;
    border-radius: 15px;
    padding: 0em 0em 0em 0em;
  }

  section.slogan div.outline {
    padding-top: 3.5em;
    height: 100%;
  }

  section.mission div.outline {
    grid-column: 2/3;
    height: 100%;
    padding-top: 3em;
  }

  /* About desktop */
  div.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em 2em;
  }

  section.about {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 1em;
    /* height: 100%; */
  }

  section.top-image {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0;
  }

  section.bottom-image {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  /* Menu desktop */
  div.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2em;
  }

  section.greeting {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  div.menu div.menu-left {
    grid-column: 1/2;
  }

  div.menu div.menu-right {
    grid-column: 2/3;
  }

  /* Contact page desktop */
  div.contact {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 0 4em;
  }

  section.contact-form {
    padding: 0em;
  }  

  div.contact section.contact-info {
    grid-column: 0/1;
  }

  div.contact section.contact-form {
    grid-column: 2/3;
  }

  div.contact section.send {
    grid-column: 2/3;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #262626;
    color: #d8d9dc;
    border-color: #d8d9dc;
  }

  body.light {
    background-color: #d8d9dc;
    color: #262626;
  }
  
  /* Header dark mode */
  .logo {
    filter: invert(1) hue-rotate(180deg)
  }
  
  .light .logo {
    filter: invert(0) hue-rotate(180deg)
  }

  a {
    color: #d8d8d8;
  }

  .light a {
    color: #262626;
  }

  /* Main page dark mode */
  section.welcome {
    border-color: #d8d9dc;
  }

  .light section.welcome {
    border-color: #262626;
  }

  /* Buttons and boxes dark mode */
  div.outline {
    border-color: #d8d8d8;
  }

  .light div.outline {
    border-color: #262626;
  }

  div.background {
    border-color: #afbf40;
    background-color: #afbf40;
    color: #262626;
  }
  
  .light div.background {
    border-color: #3360a6;
    background-color: #3360a6;
    color: #d8d8d8;
  }

  /* Menu dark mode */
  div.menu div.outline h3 span, section.nutrition div.outline span {
    color: #afbf40;
  } 

  .light div.menu div.outline h3 span, .light section.nutrition div.outline span {
    color: #3360a6;
  } 

  /* Contact page dark mode */
  div.contact ul.contact-info {
    border-color: #d8d8d8;
  }

  .light div.contact ul.contact-info {
    border-color: #262626;
  } 
}
